USE [master]
GO
/****** Object:  Database [phone_book_db]    Script Date: 17-Dec-15 4:26:47 AM ******/
CREATE DATABASE [phone_book_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'phone_book_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\phone_book_db.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'phone_book_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\phone_book_db_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [phone_book_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [phone_book_db]
GO
/****** Object:  Table [dbo].[phone_book_table]    Script Date: 17-Dec-15 4:26:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phone_book_table](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[mobile] [nvarchar](50) NULL,
	[phone] [nvarchar](50) NULL,
	[fax] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[website] [nvarchar](50) NULL,
	[home_district] [nvarchar](50) NULL,
	[date_of_barth] [date] NULL,
	[religion] [nvarchar](50) NULL,
	[sex] [nvarchar](50) NULL,
	[blood_group] [nvarchar](50) NULL,
	[image] [image] NULL,
 CONSTRAINT [PK_phone_book_table] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[phone_book_table] ON 

SET IDENTITY_INSERT [dbo].[phone_book_table] OFF
USE [master]
GO
